*.o
*.lo
*~
*.build
*build/*
*/*build/*
*/*/*build/*
*.pbxuser
*.perspectivev3
*.app
stamp-h*
*deps/*.*o
*/*deps/*.*o
*/*/*deps/*.*o
libtool
*.cache
*.log
*.status
*.dylib
*.la
*.lai
*libs/*.*a
*/*libs/*.*a
*/*.libs/*
*/*/*libs/*.*a
config.h
playsound/playsound
playsound/playsound_simple
*Makefile
confdefs.h
conftest.c
conftest.err
*.tar.gz

